# DÃ¼zenlileÅŸtirme

**Titanic** yolcularÄ±nÄ±n hayatta kalma ÅŸansÄ±nÄ± etkileyen faktÃ¶rlere dair anlayÄ±ÅŸÄ±mÄ±zÄ± geliÅŸtirelim
- YorumlamasÄ± kolay olan lojistik sÄ±nÄ±flandÄ±rÄ±cÄ±larÄ± kullanacaÄŸÄ±z
- Bunu daha Ã¶nce "Karar Bilimi - Lojistik Regresyon" dersinde statsmodels ile yapmÄ±ÅŸtÄ±k
- Hangi Ã¶zelliklerin alakasÄ±z olduÄŸunu / genelleÅŸtirilemediÄŸini tespit etmek iÃ§in `p-deÄŸerleri` ve istatistiksel varsayÄ±mlar kullanÄ±yorduk
- Bu sefer, eksik/aÅŸÄ±rÄ± Ã¶ÄŸrenme kriterlerine dayalÄ± olarak alakalÄ±/alakasÄ±z Ã¶zellikleri tespit etmek iÃ§in `dÃ¼zenlileÅŸtirme` kullanacaÄŸÄ±z
- **AmacÄ±mÄ±z `L1` ve `L2` cezalarÄ±nÄ± karÅŸÄ±laÅŸtÄ±rmak**

## 1. Veriyi sizin iÃ§in yÃ¼klÃ¼yor ve Ã¶n iÅŸleme tabi tutuyoruz

In [37]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [38]:
data = pd.read_csv("https://d32aokrjazspmn.cloudfront.net/materials/ML_titanic_dataset_encoded.csv")

# the dataset is already one-hot-encoded
data.head()

,survived,pclass,age,sibsp,parch,fare,sex_female,class_First,class_Third,who_child,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,0,3,22.0,1,0,7.2500,0,0,1,0,0,0,1
1,1,1,38.0,1,0,71.2833,1,1,0,0,1,0,0
2,1,3,26.0,0,0,7.9250,1,0,1,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,1,0,0,0,0,1
4,0,3,35.0,0,0,8.0500,0,0,1,0,0,0,1

In [39]:
# We build X and y

y = data["survived"]
X = data.drop(columns=["survived"])
X.head()

,pclass,age,sibsp,parch,fare,sex_female,class_First,class_Third,who_child,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,3,22.0,1,0,7.2500,0,0,1,0,0,0,1
1,1,38.0,1,0,71.2833,1,1,0,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,1,0,0,0,0,1
4,3,35.0,0,0,8.0500,0,0,1,0,0,0,1

In [40]:
# We MinMaxScale our features for you
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(X)
X_scaled = scaler.transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X.shape

(714, 12)

## 2. DÃ¼zenlileÅŸtirme olmadan Lojistik Regresyon

â“ Basit bir **dÃ¼zenlileÅŸtirilmemiÅŸ** Lojistik Regresyon eÄŸittikten sonra Ã¶zellikleri Ã¶nem sÄ±rasÄ±na gÃ¶re azalan ÅŸekilde sÄ±ralayÄ±n (yani, eÄŸitim sonrasÄ± katsayÄ±lara bakÄ±n)
- Dikkat: `LogisticRegression` varsayÄ±lan olarak cezalandÄ±rÄ±lmÄ±ÅŸtÄ±r
  - cezayÄ± nasÄ±l kaldÄ±racaÄŸÄ±nÄ±zÄ± Ã¶ÄŸrenmek iÃ§in [penalty parametresine](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) bakÄ±n)
- Model yakÄ±nsayana kadar `max_iter`'i daha bÃ¼yÃ¼k bir sayÄ±ya Ã§Ä±karÄ±n
- Ã‡Ã¶zÃ¼cÃ¼nÃ¼n durma kriterini ayarlamak iÃ§in `tol=1e-9` kullanÄ±n: gradyanÄ±n en bÃ¼yÃ¼k bileÅŸeni bundan kÃ¼Ã§Ã¼k olduÄŸunda Ã§Ã¶zÃ¼cÃ¼ duracak. Daha yÃ¼ksek deÄŸerlere ayarlarsanÄ±z, katsayÄ±larÄ±n `tol` deÄŸeriyle birlikte Ã§ok dalgalandÄ±ÄŸÄ±nÄ± gÃ¶rÃ¼rsÃ¼nÃ¼z.

<details>
    <summary>Ä°pucu</summary>
    <img src="https://wagon-public-datasets.s3.amazonaws.com/data-science-images/05-ML/05-Model-Tuning/model_selection.png" alt="penalizing a regression" width="500">
</details>

In [41]:

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

log_reg = LogisticRegression(
    penalty=None,
    max_iter=10000,
    tol=1e-9,
    solver="lbfgs"
)

log_reg.fit(X_scaled, y)

coefficients = log_reg.coef_[0]

feature_importance = pd.DataFrame({
    "feature": X_scaled.columns,
    "coefficient": coefficients,
    "abs_coefficient": np.abs(coefficients)
})

feature_importance_sorted = feature_importance.sort_values(
    by="abs_coefficient",
    ascending=False
)

feature_importance_sorted

                    feature  coefficient  abs_coefficient
10   embark_town_Queenstown   -21.346844        21.346844
11  embark_town_Southampton   -20.951437        20.951437
9     embark_town_Cherbourg   -20.650067        20.650067
0                    pclass     5.240985         5.240985
7               class_Third    -3.803688         3.803688
6               class_First     3.707294         3.707294
5                sex_female     2.671878         2.671878
2                     sibsp    -2.476885         2.476885
1                       age    -2.196127         2.196127
4                      fare     1.360204         1.360204
8                 who_child     1.336358         1.336358
3                     parch    -0.894275         0.894275

â“`sex_female` katsayÄ±sÄ±nÄ±n deÄŸerini sade TÃ¼rkÃ§e ile nasÄ±l yorumlarsÄ±nÄ±z?

<details>
    <summary>Cevap</summary>

> "DiÄŸer tÃ¼m ÅŸeyler eÅŸitken (yaÅŸ, bilet sÄ±nÄ±fÄ± vb...),
kadÄ±n olmak hayatta kalma log-oranlarÄ±nÄ±zÄ± 2.67 artÄ±rÄ±r (sizin katsayÄ± deÄŸeriniz)"
    
> "Bu veri setinde mevcut olan diÄŸer tÃ¼m aÃ§Ä±klayÄ±cÄ± faktÃ¶rleri kontrol ederken,
kadÄ±n olmak hayatta kalma oranlarÄ±nÄ±zÄ± exp(2.67) = 14 kat artÄ±rÄ±r"

</details>

â“ Modelinize gÃ¶re hayatta kalma ÅŸansÄ±nÄ± en Ã§ok etkileyen Ã¶zellik hangisidir?  
AÅŸaÄŸÄ±daki `top_1_feature` listesini bu Ã¶zelliÄŸin adÄ±yla doldurun

In [42]:
top_1_feature = ["embark_town_Queenstown"]
top_1_feature

['embark_town_Queenstown']

In [43]:
from nbresult import ChallengeResult
result = ChallengeResult('unregularized', top_1_feature=top_1_feature)
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/zeynepdil/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/zeynepdil/code/S16D5-S-regularization/tests
plugins: typeguard-4.4.2, anyio-4.8.0, dash-3.3.0
collecting ... collected 1 item

test_unregularized.py::TestUnregularized::test_top_1 PASSED              [100%]

============================== 1 passed in 0.01s ===============================


ğŸ’¯ You can commit your code:

git add tests/unregularized.pickle

git commit -m 'Completed unregularized step'

git push origin master

## 3. L2 cezalÄ± Lojistik Regresyon

AÅŸÄ±rÄ± Ã¶ÄŸrenme olmadan **en Ã¶nemli Ã¶zellikleri** bulmak iÃ§in log-kaybÄ± **L2** terimi ile cezalandÄ±rÄ±lmÄ±ÅŸ bir **Lojistik model** kullanalÄ±m.  
Bu, "Ridge" regresÃ¶rÃ¼nÃ¼n "sÄ±nÄ±flandÄ±rma" karÅŸÄ±lÄ±ÄŸÄ±dÄ±r

â“ **GÃ¼Ã§lÃ¼ dÃ¼zenlileÅŸtirilmiÅŸ** bir `LogisticRegression` oluÅŸturun ve Ã¶zelliklerini Ã¶nem sÄ±rasÄ±na gÃ¶re sÄ±ralayÄ±n (katsayÄ±lara bakÄ±n)
- "GÃ¼Ã§lÃ¼ dÃ¼zenlileÅŸtirilmiÅŸ" ile "Sklearn'in varsayÄ±lan dÃ¼zenlileÅŸtirme faktÃ¶rÃ¼nden daha fazla" demek istiyoruz. 
- Sklearn'in varsayÄ±lan deÄŸerleri "Ã¶lÃ§eklenmiÅŸ Ã¶zellikler" iÃ§in akÄ±lda tutulmasÄ± gereken Ã§ok yararlÄ± bÃ¼yÃ¼klÃ¼k mertebeleridir

In [57]:
log_reg_l2 = LogisticRegression(
    penalty="l2",     
    C=0.01,           
    max_iter=10000,
    tol=1e-9,
    solver="lbfgs"
)

log_reg_l2.fit(X_scaled, y)
coefficients = log_reg_l2.coef_[0]

feature_importance_l2 = pd.DataFrame({
    "feature": X_scaled.columns,
    "coefficient": coefficients,
    "abs_coefficient": np.abs(coefficients)
})

feature_importance_l2_sorted = feature_importance_l2.sort_values(
    by="abs_coefficient",
    ascending=False
)

feature_importance_l2_sorted

                    feature  coefficient  abs_coefficient
5                sex_female     0.614098         0.614098
7               class_Third    -0.295870         0.295870
0                    pclass    -0.257011         0.257011
6               class_First     0.218152         0.218152
8                 who_child     0.136157         0.136157
9     embark_town_Cherbourg     0.126089         0.126089
11  embark_town_Southampton    -0.109189         0.109189
1                       age    -0.067343         0.067343
4                      fare     0.051314         0.051314
3                     parch     0.026701         0.026701
10   embark_town_Queenstown    -0.024490         0.024490
2                     sibsp    -0.019442         0.019442

â“ Modelinize gÃ¶re hayatta kalma ÅŸansÄ±nÄ± etkileyen ilk 2 Ã¶zellik hangileridir?  
AÅŸaÄŸÄ±daki `top_2_features` listesini bu Ã¶zelliklerin adlarÄ±yla doldurun

In [58]:
top_2_features = ["sex_female", "class_Third"]
top_2_features

['sex_female', 'class_Third']

#### ğŸ§ª Kodunuzu aÅŸaÄŸÄ±da test edin

In [59]:
from nbresult import ChallengeResult
result = ChallengeResult('ridge', top_2=top_2_features)
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/zeynepdil/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/zeynepdil/code/S16D5-S-regularization/tests
plugins: typeguard-4.4.2, anyio-4.8.0, dash-3.3.0
collecting ... collected 1 item

test_ridge.py::TestRidge::test_top2 PASSED                               [100%]

============================== 1 passed in 0.01s ===============================


ğŸ’¯ You can commit your code:

git add tests/ridge.pickle

git commit -m 'Completed ridge step'

git push origin master

## 4. L1 cezalÄ± Lojistik Regresyon

Bu sefer, **daha az Ã¶nemli Ã¶zellikleri filtrelemek** iÃ§in log-kaybÄ± **L1** terimi ile cezalandÄ±rÄ±lmÄ±ÅŸ bir lojistik model kullanacaÄŸÄ±z.  
Bu, **Lasso** regresÃ¶rÃ¼nÃ¼n "sÄ±nÄ±flandÄ±rma" karÅŸÄ±lÄ±ÄŸÄ±dÄ±r

â“ **GÃ¼Ã§lÃ¼ dÃ¼zenlileÅŸtirilmiÅŸ** bir `LogisticRegression` oluÅŸturun ve Ã¶zelliklerini Ã¶nem sÄ±rasÄ±na gÃ¶re sÄ±ralayÄ±n

In [64]:
log_reg_l1 = LogisticRegression(
    penalty="l1",     
    C=0.5,            
    solver="liblinear",
    max_iter=10000,
    tol=1e-9
)


log_reg_l1.fit(X_scaled, y)
coefficients = log_reg_l1.coef_[0]

coef_df = pd.DataFrame({
    "feature": X_scaled.columns,
    "coef": log_reg_l1.coef_[0]
})

coef_df["abs_coef"] = coef_df["coef"].abs()

feature_importance_l1 = coef_df.sort_values(
    by="abs_coef",
    ascending=False
)

feature_importance_l1

                    feature      coef  abs_coef
5                sex_female  2.439928  2.439928
2                     sibsp -1.377449  1.377449
1                       age -1.369304  1.369304
0                    pclass -1.232577  1.232577
8                 who_child  0.959724  0.959724
7               class_Third -0.521221  0.521221
6               class_First  0.376297  0.376297
9     embark_town_Cherbourg  0.326157  0.326157
3                     parch  0.000000  0.000000
4                      fare  0.000000  0.000000
10   embark_town_Queenstown  0.000000  0.000000
11  embark_town_Southampton  0.000000  0.000000

â“ L1 modelinize gÃ¶re hayatta kalma ÅŸansÄ± Ã¼zerinde kesinlikle hiÃ§bir etkisi olmayan Ã¶zellikler hangileridir?  
AÅŸaÄŸÄ±daki `zero_impact_features` listesini bu Ã¶zelliklerin adlarÄ±yla doldurun; listeye eleman eklemeniz gerekebilir.

- Bunlardan bazÄ±larÄ±nÄ±n dÃ¼zenlileÅŸtirilmemiÅŸ modele gÃ¶re "Ã§ok Ã¶nemli" olduÄŸunu fark ettiniz mi? 
- Bundan sonra doÄŸrusal modellerimizi her zaman dÃ¼zenlileÅŸtireceÄŸiz!

In [66]:
zero_impact_features = ["parch", "fare", "embark_town_Queenstown", "embark_town_Southampton"]
zero_impact_features

['parch', 'fare', 'embark_town_Queenstown', 'embark_town_Southampton']

#### ğŸ§ª Kodunuzu aÅŸaÄŸÄ±da test edin

In [67]:
from nbresult import ChallengeResult
result = ChallengeResult('lasso', zero_impact_features = zero_impact_features)
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/zeynepdil/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/zeynepdil/code/S16D5-S-regularization/tests
plugins: typeguard-4.4.2, anyio-4.8.0, dash-3.3.0
collecting ... collected 1 item

test_lasso.py::TestLasso::test_zero_impact PASSED                        [100%]

============================== 1 passed in 0.02s ===============================


ğŸ’¯ You can commit your code:

git add tests/lasso.pickle

git commit -m 'Completed lasso step'

git push origin master

# 5. Bir adÄ±m geri Ã§ekilmek

ğŸ¤¯ **Bu katsayÄ±lardan bazÄ±larÄ± neden baÅŸlangÄ±Ã§ta bu kadar yÃ¼ksekti?**

DÃ¼zenlileÅŸtirme ile kaldÄ±rÄ±lan Ã¼Ã§ Ã¶zelliÄŸi dÃ¼ÅŸÃ¼nelim:
- `embark_town_Cherbourg`
- `embark_town_Southampton`
- `embark_town_Queenstown`

ÃœÃ§ biniÅŸ ÅŸehri tabii ki iliÅŸkilidir: ikisinden binmediyseniz, Ã¼Ã§Ã¼ncÃ¼sÃ¼nden binmiÅŸ olmalÄ±sÄ±nÄ±z. Yani biliyoruz ki: 

$$embark\_town\_Cherbourg + embark\_town\_Southampton + embark\_town\_Queenstown = 1$$

Bu Ã¼Ã§ Ã¶zellik **mÃ¼kemmel Ã§oklu doÄŸrusal baÄŸÄ±ntÄ±lÄ±dÄ±r**!

**DÃ¼zenlileÅŸtirilmemiÅŸ modeller kullanÄ±lÄ±rken, bu genellikle sayÄ±sal kararsÄ±zlÄ±ÄŸa yol aÃ§ar**, ki burada gÃ¶rdÃ¼ÄŸÃ¼mÃ¼z tam olarak buydu. AyrÄ±ca bÃ¶yle bir durumda elde ettiÄŸimiz **katsayÄ±lara gerÃ§ekten gÃ¼venemeyeceÄŸimiz** anlamÄ±na gelir.

â—ï¸ Bu Ã¼Ã§ Ã§oklu doÄŸrusal baÄŸÄ±ntÄ±lÄ± Ã¶zellik, `embark_town` kategorik Ã¶zelliÄŸinin one hot encoding'inden gelir.

DÃ¼zenlileÅŸtirme sayesinde bu sorunu aÅŸtÄ±k: Ã¼Ã§ ÅŸehir iÃ§in katsayÄ±larÄ±n Ã§ok bÃ¼yÃ¼k olmasÄ±nÄ± engelledi. **Ä°ÅŸte bu yÃ¼zden neredeyse her zaman dÃ¼zenlileÅŸtirme kullanacaÄŸÄ±z.**

ğŸ” **BaÅŸlangÄ±Ã§ta ayarladÄ±ÄŸÄ±mÄ±z `tol` parametresini hatÄ±rlÄ±yor musunuz?**

DÃ¼zenlileÅŸtirmenin ekstra bir bonusu da `tol` ayarlamanÄ±n daha az Ã¶nemli hale gelmesi: `1e-2` ve `1e-9` arasÄ±nda herhangi bir deÄŸere ayarlayabilirsiniz ve katsayÄ±lar neredeyse hiÃ§ deÄŸiÅŸmez! ğŸ’ª

**ğŸ Tebrikler! Not defterinizi commit etmeyi ve push etmeyi unutmayÄ±n**